<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>${app.name}</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Rancho'>
	<link rel="stylesheet" href="css/site.css" />
	<a:span id="extraStyle"></a:span>
	<a:span id="requireJsScript">
	<script data-main="js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>
	</a:span>
</head>
<body>
	<header class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="${app.root}">${app.name}</a>
			<div id="loginInfo" data-email="${user.person.email}" data-sessiontimeout="${app.sessionTimeout}">
				<div a:if="user.person.email != null">
					<a href="account">Account</a>
					<a href="#" id="logout">Sign out</a>
				</div>
				<div a:else id="login" class="clickable persona-button orange">
					<span>Sign in</span>
				</div>
			</div>
			<div a:if="app.sessionTimeout" id="sessionTimeout">
				Your session has timed out, please sign in.
			</div>
		</div>
	</header>
	<div id="content">
	</div>
	<footer>
		<p>&copy; ${utils:formatYear(app.time)} ${app.name}</p>
	</footer>
	<form a:if="user.accountRequiresSetup()" id="accountDialog" class="modal hide fade"
			tabindex="-1" role="dialog" aria-labelledby="accountDialogLabel" aria-hidden="true"
			data-backdrop="false" data-keyboard="false">
		<div class="modal-header">
			<h3 id="accountDialogLabel">Welcome to ${app.name}</h3>
			<h4>Let&#8217;s start by getting your new account set up :-)</h4>
		</div>
		<div class="modal-body">
			<label for="accountName">Name:</label><input id="accountName" type="text" name="name" />
		</div>
		<div class="modal-footer">
			<button type="button" id="accountDialogAbort" class="btn">Abort!</button>
			<button id="accountDialogSubmit" class="btn btn-primary">Okay</button>
		</div>
	</form>
	<a:span id="extraContent"></a:span>
	<a:span id="extraScript"></a:span>
</body>
</html>
