<!--$extends _page_base.html-->

<div id="content">
	<div a:if="user.isLoggedIn()">
		<strong>Update your account information:</strong>
		<form id="accountForm">
			<label for="name">Name</label>
			<input id="name" type="text" name="name" value="${user.person.name}" /><br />
			<button id="accountFormSubmit" class="btn btn-primary">Update</button>
		</form>
		<script type="text/javascript">
			window.onload = function() {
				var accountForm = $("#accountForm");
				accountForm.submit(function(e) {
					e.preventDefault();
					$.ajax({
						type: "POST",
						url: "account/setup",
						data: accountForm.serialize(),
						success: function(res, status, xhr) {
							if (res.status === "success") {
								document.location.reload(true);
							} else {
								alert(res.errorMessage);
							}
							return true;
						},
						error: function(res, status, xhr) {
							return alert("login failure" + res);
						}
					});
					return false;
				});
			};
		</script>
	</div>
</div>