<!--$extends _page_base.html-->

<link a:overrides="#extraStyle" rel="stylesheet" href="css/metrics-watcher-style.css">
<script a:overrides="#requireJsScript" data-main="js/main" data-start="app/metrics" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>

<div id="content">
	<h2>Metrics</h2>

	<div class="row-fluid">
		<div id="webExample"></div>
	</div>
	<br/>
	<div class="row-fluid">
		<div id="jvmExample"></div>
	</div>
	<br />
	<div class="row-fluid">
		<div id="timerExample"></div>
	</div>
	<br />
	<div class="row-fluid">
		<div id="queryCache"></div>
	</div>
</div>
